<p id="notice"><%= notice %></p>

<p>
  <strong>Btime:</strong>
  <%= @booking.btime %>
</p>

<p>
  <strong>User:</strong>
  <%= @booking.user_id %>
</p>

<p>
  <strong>Bike:</strong>
  <%= @booking.bike_id %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
